streamlit
pandas
numpy
matplotlib
seaborn
yfinance
requests
plotly
streamlit-option-menu
textblob
xgboost
scikit-learn
tensorflow
ta-lib
fpdf2
fredapi
investpy
mplfinance
quantstats
streamlit
newsapi-python
pandas
requests
ta
