streamlit
pandas
numpy
yfinance
plotly
matplotlib
scikit-learn
xgboost
tensorflow
keras
nltk
vaderSentiment
textblob
beautifulsoup4
requests
datetime
python-dotenv
tqdm
openpyxl
streamlit-option-menu
fpdf
requests
streamlit-option-menu
xgboost
tensorflow
ta
newsapi-python
investpy
ipywidgets
base64
ast

